@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    display: inline-block;
    margin-left: 100px;
    margin-right: 400px;
}

p{
    display: inline-block;
    margin-left: 30px;
}

.header{
    background-color:#343a40;
    height: 75px;
    color: white
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

.main{
    padding-top: 200px;
    padding-bottom: 50px;
    height: 300px;
    background-color: #1abc9c;
    padding-top: 50px;
    text-align: center;
    color: white;
}


img{
    width: 100px;
}

.portfolio{
    padding-top: 200px;
    padding-bottom: 50px;
    height: 600px;
    background-color: white;
    padding-top: 50px;
    text-align: center;
    color: #343a40;
}
.alineado{
    display: inline-block;
    border: 20px solid transparent;
    
}
 .alineado img{
     width: 20%;
     height: auto;
     border-radius: 5px;
 }


.about{
    padding-top: 200px;
    padding-bottom: 50px;
    height: 300px;
    background-color: #1abc9c;
    padding-top: 50px;
    text-align: center;
    color: white;
}

.about1{
    display: inline-block;
    height: 70px;
   
}